[submodule "submodules/api/forexrates"]
	path = submodules/api/forexrates
	url = https://github.com/sharkutilities/forexrates.git
[submodule "database/schema/internals/datasource"]
	path = database/schema/internals/datasource
	url = https://github.com/digitphilia/datasource.git
[submodule "database/schema/internals/dealermaster"]
	path = database/schema/internals/dealermaster
	url = https://github.com/digitphilia/dealermaster.git
[submodule "database/schema/projects/tradedb"]
	path = database/schema/projects/tradedb
	url = https://github.com/digitphilia/tradedb.git
